<configuration debug="true">
    <appender name="DOPPLER" class="com.hulu.ap.apiframework.common.DopplerMDCLogback">
        <client class="com.hulu.ap.apiframework.common.QueuingDoppler2ClientPatch">
            <client class="com.hulu.ap.apiframework.common.HttpDoppler2ClientPatch">
                <baseUrl>http://doppler-ingest.iad.staging.hulu.com/</baseUrl>
            </client>
        </client>
        <service>production-server</service>
        <environment class="com.hulu.doppler.common.logging.Environment">
            <name>staging</name>
            <datacenter>iad</datacenter>
        </environment>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
            ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level in %logger{36} [%X{PID}|%thread] ${HOSTNAME} user_id=%X{user_id} hulu_request_id=%X{hulu_request_id} path=%X{endpoint} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.hulu.doppler" level="ERROR"/>
    <root level="ERROR">
        <appender-ref ref="DOPPLER"/>
    </root>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
